<link
  rel="stylesheet"
  href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
>

<link
  rel="icon"
  type="image/png"
  href="{{ '/assets/img/AuditTicksPro_Icon.png?v=' | append: site.github.build_revision | relative_url }}"
>

<link
  rel="shortcut icon"
  type="image/png"
  href="{{ '/assets/img/AuditTicksPro_Icon.png?v=' | append: site.github.build_revision | relative_url }}"
>

<link
  rel="apple-touch-icon"
  href="{{ '/assets/img/AuditTicksPro_Icon.png?v=' | append: site.github.build_revision | relative_url }}"
>
